@charset "UTF-8";

h1 {
	margin-top: 150px;
	text-align: center;
}

.msg {
	text-align: center;
	 padding: 20px; 
	/* background-color : #f44336;  Red */ 
	color: red;
	transition: 0.3s;
	/* border-top: 1px solid black; */
	/* border: 1px solid black; */
	overflow: auto;
}

form {
	position: absolute;
	margin-top: 50px;
	left: 30%;
	right: 30%;
	justify-content: center;
	display: flex;
}